nav {
    height: 60px;
    background-color: black;

    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.nav-link {
    color: white;
}

header {
    display: flex;
}

img {
    height: 300px;
}

.about-me {
    background-color: yellow;
    border: 1px solid red;
}

.skills {
    background-color: aqua;
}
